# Ignore local secrets and bootstrap manifests
repo-config.yaml
root-app-dev.yaml
root-app-prod.yaml
test-app.yaml
root-app-staging.yaml

# Ignore the directory for temporary unencrypted secrets
/.secrets/